<!-- Begin Welcome Banner -->
<div
  class="jumbotron jumbotron-main"
  style="background-image:url('assets/images/slider1.jpg');background-size:cover;"
>
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div
        class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center"
      >
        <h1 class="scaleReveal">
          <b>We are</b><br>
          <b><a style="color:rgb(179, 14, 96)">Credence</a
            ><a style="color:rgb(0, 158, 226)">Soft</a></b>
        </h1>
        <hr class="bottomReveal" />
        <p class="bottomReveal"><b>Think, Design & Deliver</b></p>
        <a href="#aboutus" data-id="aboutus" class="scroll-link">
          <div class="scroll-indicator rotateBottomReveal">
            <span class="ion-mouse"></span><br />
            <span class="ion-android-arrow-down arrow-scroll-indicator"></span>
          </div>
        </a>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.vertical center -->
  </div>
  <!-- /.container -->
</div>
<!-- End Welcome Banner -->
