<!-- Begin products -->
<section class="background1 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Products</h2>
        <span class="section-divider"></span>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row">
      <!-- Item 1 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 topReveal">
        <div class="team-member-box">
          <h3 style="color:rgb(0, 0, 0)"><b>LOS</b></h3>
          <p class="mb20"><b>( LOAN ORIGINATION SYSTEM )</b></p>
          <span class="section-divider"></span>
          <div class="team-image-wrapper">
            <img
              src="assets/images/los.jpg"
              class="img-circle"
              height="160"
              width="160"
            />
          </div>
          <br />
          <h4 class="text-small text-switch mb20" style="color:rgb(0, 0, 0)">
            <b
              >CredenceSoft's SoftOne LOS supports both on premise and Cloud
              solutions. <br /><br />It is a comprehensive loan origination
              software which controls and automates various business
              processes/activities performed in processing of a loan application
              for advanced risk management . <br /><br />SoftOne supports the
              entire acquisition lifecycle from customer walk-in to decision by
              the underwriter for the disbursement. <br /><br />Additionally, it
              allows online credit evaluation and automatic credit evaluation of
              the application and processing till loan initiation. It support
              lead generation, Lead allocation, tracking, deal capturing
              ,verification Initiation and underwritten.</b
            >
          </h4>
        </div>
      </div>
      <!-- /.column -->

      <!-- Item 2 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt30-xs bottomReveal">
        <div class="team-member-box">
          <h3 style="color:rgb(0, 0, 0)"><b>BookOne</b></h3>
          <p class="mb20"><b>Booking Origination and Management System</b></p>
          <span class="section-divider"></span>
          <div class="team-image-wrapper">
            <img
              src="assets/images/BookOne.png"
              class="img-circle"
              height="160"
              width="160"
            />
          </div>
          <br />
          <h4 class="text-small text-switch mb20" style="color:rgb(0, 0, 0)">
            <b
              >BookOne is a complete Booking Origination and Management System.
              Based on specific industry’s need, BookOne’s feature can be
              customizable. <br /><br />One of the recent implementation of
              BookOne is for the Hospitality Industry to capture booking journey
              of the guest for the Hotel, Motel, Back Packers, Service
              Apartment, Vacation Rental, Guest Room and Owner Occupied
              properties. Enrich and Ensure Guest’s booking experience with
              personalized, interactive real time notifications. <br /><br />A
              Property/Hotel Management System having own booking engine plus
              integration with the hotel booking websites, major OTAs ( Online
              Travel/Booking Engines ) to manage effectively Rates,
              Availability, Processing Payments of Virtual, Credit and Debit
              Cards with PCI Compliant Payment Processors. This also covers
              Accounting and Expense Management to optimize the operational
              efficiency.</b
            >
          </h4>
        </div>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section -->
<!-- End products -->
