<section class="main-content bkng">
  <div class="container">
    <div class="page-content">
      <div class="booking-tabs-list">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
          <li class="nav-item">
              <a class="nav-link" id="choose-tab" data-toggle="tab" href="#choose-room" role="tab" aria-controls="choose-room" aria-selected="false"> <span class="nom"></span>CHOSE ROOM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="booking_tab" data-toggle="tab" href="#booking-tab" role="tab" aria-controls="booking-tab" aria-selected="true"> <span class="nom"></span> BOOKING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="checkout_tab" data-toggle="tab" href="#checkout-tab" role="tab" aria-controls="checkout-tab" aria-selected="false"> <span class="nom"></span> CHECKOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="thankyou_tab" data-toggle="tab" href="#thankyou-tab" role="tab" aria-controls="thankyou-tab" aria-selected="false"><span class="nom"></span> THANK YOU</a>
            </li>
        </ul>
      </div><!--booking-tabs-list end-->

              <div class="row">
                <div class="col-lg-4">
                  <div class="sidebar">
                  <div class="avail-sec">
                    <form>
                      <div class="checking-form">
                        <ul class="checkform">
                          <li>
                            <div class="check-form">
                              <h4>CHECK-IN</h4>
                              <div class="det">
                                <b class="val-date">{{ this.daySelected }}</b>
                                <span>
                                  <i class="month">{{monthArray[monthSelected] }}</i> <i class="year"> {{  this.yearSelected  }}</i>
                                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                </span>
                              </div>
                              <input type="text" name="dateIn" class="date-pick">
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                          </li>
                          <li>
                            <div class="check-form">
                              <h4>CHECK-OUt</h4>
                              <div class="det">
                                <b class="val-date">{{ this.daySelected2 }}</b>
                                <span>
                                  <i class="month">{{monthArray[monthSelected2] }}</i> <i class="year"> {{  this.yearSelected2  }}</i>
                                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                </span>
                              </div>
                              <input type="text" name="dateOut" class="date-pick">
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                          </li>
                          <li class="item-cont">
                            <div class="check-form">
                              <h4 class="text-center">Guest</h4>
                              <div class="det">
                                <div class="handle-counter" id="handleCounter">
                                                  <ul>
                                                      <li class="input-fieldd"><input type="text" value="1" data-num="1"></li>
                                                      <li class="counter-control">
                                                        <button class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                                        <button class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                              </div>
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                          </li>
                          <!-- <li class="check-avail">
                            <a (click)="getRoomByDate()" title="" class="check-status">CHECK AVAILABILITY</a>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                    </form>
                  </div><!--avail-sec end-->
                  <div class="extra_info">
                    <ul>
                      <li>
                        <span>NOT INCL :</span> 3 $ CITY TAX ( person * night )
                      </li>
                      <li>
                        <span>INCLUDED : </span> 22 % VAT ALREADY APPLIED
                      </li>
                    </ul>
                  </div><!--extra_info end-->
                </div><!--sidebar end-->
                </div>
                <div class="col-lg-8">
                  <div class="booking_form">
                    <span class="guest-notif">You are booking for property.name's room.roomType. </span>
                    <!--<div class="services_select">
                    <div class="seachby">
                      <h3>Add Extra Servıces</h3>
                      <ul>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c_11" >
                            <label for="c_11"><span></span><b>Wifi : 100 $ ( Room / Night ) = 700 $</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c_12">
                            <label for="c_12"><span></span><b>Sea View : 10 $ ( Room / Night ) = 200 $</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c_13">
                            <label for="c_13"><span></span><b>Car Rental : 30 $ ( Room / Night ) = 200 $</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c_14">
                            <label for="c_14"><span></span><b>Laundry : 10 $ ( Guest / Night ) = 400 $</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c_15">
                            <label for="c_15"><span></span><b>Satellite TV : 50 $ ( Room / Trip ) = 250 $</b></label>
                          </div>
                        </li>
                        <li>
                          <div class="inp-field">
                            <input type="checkbox" name="cc2" id="c_16">
                            <label for="c_16"><span></span><b>Breakfast : 10 $ ( Guest / Night ) = 150 $</b></label>
                          </div>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                  </div>services_select end-->
                  <div class="information_form">
                    <h3>Add Booking Informatıons</h3>
                    <form>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-field">
                            <label>First Name</label>
                            <input type="text" name="firstName" placeholder="">
                          </div><!--form-field end-->
                        </div>
                        <div class="col-lg-6">
                          <div class="form-field">
                            <label>Last Name</label>
                            <input type="text" name="lastName" placeholder="">
                          </div><!--form-field end-->
                        </div>
                        <div class="col-lg-6">
                          <div class="form-field">
                            <label>Email *</label>
                            <input type="email" name="email" placeholder="">
                          </div><!--form-field end-->
                        </div>
                        <div class="col-lg-6">
                          <div class="form-field">
                            <label>Phone Number *</label>
                            <input type="text" name="mobile" placeholder="">
                          </div><!--form-field end-->
                        </div>
                        <div class="col-lg-6">
                          <div class="form-field">
                            <label>Number of Room</label>
                            <input type="number" name="noOfRoom" placeholder="">
                          </div><!--form-field end-->
                        </div>
                        <div class="col-lg-6">
                          <div class="form-field">
                            <label>Number of Guest</label>
                            <input type="number" name="noOfGuest" placeholder="">
                          </div><!--form-field end-->
                        </div>

                        <div class="col-lg-12">
                          <div class="seachby">
                            <ul>
                              <li>
                                <div class="inp-field">
                                  <input type="checkbox" name="cc8" id="c87">
                                  <label for="c87"><span></span><b>Terms and conditions *</b></label>
                                </div>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-submit">
                            <button type="submit" class="lnk-default">Checkout <i class="la la-arrow-right"></i></button>
                          </div><!--form-submit end-->
                        </div>
                      </div>
                    </form>
                  </div><!--information_form end-->
                  </div><!--booking_form END-->
                </div>
              </div>

    </div><!--page-content end-->
  </div>
</section><!--main-content end-->
