<!-- Begin Footer -->
<footer class="footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <span
          ><img
            alt="logo"
            src="assets/images/CredenceSoftLogo.png"
            height="90"
            width="90"
        /></span>
        <div>
          Made with &nbsp;
          <span class="ion-heart mr15" style="color:rgb(255, 0, 0)"></span>by
          CredenceSoft
        </div>
        <a href="#"
          ><span class="ion-social-twitter social-icons-dark-hover mr15"></span
        ></a>
        <a href="#"
          ><span class="ion-social-facebook social-icons-dark-hover mr15"></span
        ></a>
        <a href="#"
          ><span
            class="ion-social-googleplus-outline social-icons-dark-hover"
          ></span
        ></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-small text-center">
        <hr />
        <button
          type="button"
          class="btn btn-primary btn-up-footer btn-lg scroll-top"
        >
          Up
        </button>
        <p class="no-margin">2019 &copy; All Rights Reserved</p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->
<!-- End Footer -->
