<!-- Begin Footer -->
<footer class="background2 footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <span
          ><img
            alt="logo"
            src="assets/images/CredenceSoftLogo.png"
            height="90"
            width="90"
        /></span>
        <div>
          <b>Made with</b> &nbsp;
          <span class="ion-heart mr15" style="color:rgb(255, 0, 0)"></span><b>by
          CredenceSoft</b>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-small text-center">
        <hr />
        <button
          type="button"
          class="btn btn-primary btn-up-footer btn-lg scroll-top"
        >
          Up
        </button>
        <p class="no-margin"><b>2019 &copy; All Rights Reserved</b></p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->
<!-- End Footer -->
