<section
  class="background1 section-padding"
>
  <div class="container">
    <div class="row mb30">
      <div class="col-lg-6 col-lg-offset-3 section-title text-center">
        <h2><b>Technology</b></h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">
          <b>We are using these technologies to beautify our products.</b>
        </p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row mb50">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <img
          src="assets/images/tech-logo/Angular.png"
          class="topReveal"
          height="100"
          width="100"
        />
        <img
          src="assets/images/tech-logo/Bootstrap.png"
          class="bottomReveal"
          height="150"
          width="150"
        />
        <img
          src="assets/images/tech-logo/Drools.png"
          class="topReveal"
          height="90"
          width="300"
        />
        <img
          src="assets/images/tech-logo/GCP.png"
          class="bottomReveal"
          height="140"
          width="300"
        />
        <img
          src="assets/images/tech-logo/MaterialDesign.png"
          class="topReveal"
          height="100"
          width="100"
        />
        <img
          src="assets/images/tech-logo/MuleSoft.png"
          class="bottomReveal"
          height="170"
          width="170"
        />
        <img
          src="assets/images/tech-logo/MySQL.png"
          class="topReveal"
          height="200"
          width="200"
        />
        <img
          src="assets/images/tech-logo/Oracle.png"
          class="bottomReveal"
          height="200"
          width="200"
        />
        <img
          src="assets/images/tech-logo/PayPal.png"
          class="topReveal"
          height="200"
          width="200"
        />
        <img
          src="assets/images/tech-logo/React.png"
          class="bottomReveal"
          height="100"
          width="120"
        />
        <img
          src="assets/images/tech-logo/SendGrid.png"
          class="topReveal"
          height="200"
          width="200"
        />
        <img
          src="assets/images/tech-logo/Spring.png"
          class="bottomReveal"
          height="70"
          width="250"
        />
        <img
          src="assets/images/tech-logo/Stripe.png"
          class="topReveal"
          height="150"
          width="200"
        />
        <img
          src="assets/images/tech-logo/Twilio.png"
          class="bottomReveal"
          height="100"
          width="250"
        />
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
