<!-- Begin Services -->
<section class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2><b>Services</b></h2>
        <span class="section-divider"></span>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="services-box leftReveal">
          <span class="pe-7s-airplay services-icon"></span>
          <h3 class="service-name" style="color:rgb(0, 0, 0)">
            <b>BookOne Support</b>
          </h3>
          <button
            type="button"
            class="btn btn-default mt10"
            data-toggle="modal"
            data-target="#item1-services"
          >
            <b>Read More</b>
          </button>
        </div>
      </div>
      <!-- /.column -->
      <!-- Item 1 Modal -->
      <div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <span class="pe-7s-airplay services-icon-2"></span>
              <h4 class="service-title"><b>BookOne Support</b></h4>
            </div>
            <div class="modal-body">
              <p style="color:rgb(0, 0, 0)">
                <b
                  >Exclusive 24x7 support services to our all clients and
                  partners on-boarded to BookOne platform.</b
                >
              </p>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Item 2 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt30-sm mt30-xs">
        <div class="services-box rightReveal">
          <span class="pe-7s-global services-icon"></span>
          <h3 class="service-name"><b>Website Development</b></h3>
          <button
            type="button"
            class="btn btn-default mt10"
            data-toggle="modal"
            data-target="#item3-services"
          >
            <b>Read More</b>
          </button>
        </div>
      </div>
      <!-- /.column -->
      <!-- Item 2 Modal -->
      <div class="modal fade" id="item3-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <span class="pe-7s-global services-icon-2"></span>
              <h4 class="service-title"><b>Website Development</b></h4>
            </div>
            <div class="modal-body">
              <p style="color:rgb(0, 0, 0)">
                <b
                  >We strongly believe when a business needs a website means the
                  business is in growth path. The growth of the business will
                  happen while it reaches the targeted audience. The website
                  should have the features and capability to be interactive,
                  dynamic, personalized and transactional. All our websites are
                  state-of-the-art contemporary technology, responsive design.
                  Our website offerings are the most cost-effective as our
                  Technology Team has vast expertise on web technologies.</b
                >
              </p>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Item 3 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt30">
        <div class="services-box leftReveal">
          <span class="pe-7s-config services-icon"></span>
          <h3 class="service-name"><b>Integration Service</b></h3>
          <button
            type="button"
            class="btn btn-default mt10"
            data-toggle="modal"
            data-target="#item4-services"
          >
            <b>Read More</b>
          </button>
        </div>
      </div>
      <!-- /.column -->
      <!-- Item 3 Modal -->
      <div class="modal fade" id="item4-services" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
                </button>
              <span class="pe-7s-config services-icon-2"></span>
              <h4 class="service-title"><b>Integration Service</b></h4>
            </div>
            <div class="modal-body">
              <p style="color:rgb(0, 0, 0)">
                <b
                  >At CredenceSoft, the Integration Services team has extensive
                  functional and process knowledge across a range of industries.
                  Offering the following solutions, CredenceSoft's Integration
                  Services allows you to seamlessly develop and integrate new
                  systems and technologies into your business :</b
                >
              </p>
              <ul>
                <li>
                  <p style="color:rgb(0, 0, 0)">
                    <b>Enterprise Integration Architecture and Strategy</b>
                  </p>
                </li>
                <li>
                  <p style="color:rgb(0, 0, 0)">
                    <b>Systems Design and Integration</b>
                  </p>
                </li>
                <li>
                  <p style="color:rgb(0, 0, 0)">
                    <b>API Driven Architecture</b>
                  </p>
                </li>
              </ul>
              <p style="color:rgb(0, 0, 0)">
                <b
                  >CredenceSoft's Delivery Framework and development resources
                  are implemented into all our Integration solutions. This
                  approach mitigates risk, reduces development costs,
                  efficiently managing new business mandates. <br /><br />Our
                  Consultants have extensive experience managing a range of
                  system integration projects, including tailored and packaged
                  solutions. Oracle, MuleSoft, Spring Boot tools are primarily
                  used for these solutions.</b
                >
              </p>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Item 4 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt30">
        <div class="services-box rightReveal">
          <span class="pe-7s-box2 services-icon"></span>
          <h3 class="service-name"><b>Product Development</b></h3>
          <button
            type="button"
            class="btn btn-default mt10"
            data-toggle="modal"
            data-target="#item6-services"
          >
            <b>Read More</b>
          </button>
        </div>
      </div>
      <!-- /.column -->
      <!-- Item 4 Modal -->
      <div class="modal fade" id="item6-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <span class="pe-7s-box2 services-icon-2"></span>
              <h4 class="service-title"><b>Product Development</b></h4>
            </div>
            <div class="modal-body">
              <p style="color:rgb(0, 0, 0)">
                <b
                  >CredenceSoft’s trademark product is BookOne and SoftOne. The
                  features of the product are explained in the product sections.
                  As per our ideals, when an idea has a potential benefit to the
                  end-user we would like go through the process of
                  <a>" Think, Design, Deliver "</a>.</b
                >
              </p>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section -->
<!-- End Services -->
