<!-- Begin Services -->
<section
  class="section-padding parallax-window"
  data-parallax="scroll"
  data-image-src="assets/images/slider1.jpg"
>
  <div class="container">
    <div class="row mb30">
      <div
        class="section-title col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center"
      >
        <h2>Services</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin" style="color:rgb(255, 255, 255)">
          At CredenceSoft, we provide support for Database setup, Implementation
          of loan servicing software, define the business accounting, automation
          for all lending process from Credit Underwritten, Risk Analytics, Pre
          and Post Disbursement Activities, Banking and Customer Services.
          <br /><br />Every lender has different needs and satisfying those
          needs starts with the implementation. <br /><br />We arrive at an
          actual implementation strategy for each banking customer based on
          their needs.
        </p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section -->
<!-- End Our Count -->
