<section class="main-content bkng">
  <div class="container">
    <div class="page-content">
      <div class="booking-tabs-list">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
          <li class="nav-item">
              <a class="nav-link"> <span class="nom"></span>CHOSE ROOM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" > <span class="nom"></span> BOOKING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" > <span class="nom"></span> CHECKOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ><span class="nom"></span> THANK YOU</a>
            </li>
        </ul>
      </div><!--booking-tabs-list end-->

              <div class="row">
                <div class="col-lg-4">
                  <div class="sidebar">
                  <div class="avail-sec">
                    <form>
                      <div class="checking-form">
                        <ul class="checkform">
                          <li>
                            <div class="check-form">
                              <h4>CHECK-IN</h4>
                              <div class="det">
                                <b class="val-date">{{ this.daySelected }}</b>
                                <span>
                                  <i class="month">{{monthArray[monthSelected] }}</i> <i class="year">{{  this.yearSelected2  }}</i>
                                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                </span>
                              </div>
                              <input type="text" name="dateIn" class="date-pick">
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                          </li>
                          <li>
                            <div class="check-form">
                              <h4>CHECK-OUt</h4>
                              <div class="det">
                                <b class="val-date">{{ this.daySelected2 }}</b>
                                <span>
                                  <i class="month">{{monthArray[monthSelected2] }}</i> <i class="year">{{  this.yearSelected2  }}</i>
                                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                </span>
                              </div>
                              <input type="text" name="dateOut" class="date-pick">
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                          </li>
                          <li class="item-cont">
                            <div class="check-form">
                              <h4 class="text-center">Guest</h4>
                              <div class="det">
                                <div class="handle-counter" id="handleCounter">
                                                  <ul>
                                                      <li class="input-fieldd"><input type="text" value="1" data-num="1"></li>
                                                      <li class="counter-control">
                                                        <button class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                                        <button class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                              </div>
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                          </li>
                          <!-- <li class="check-avail">
                            <a (click)="getRoomByDate()" title="" class="check-status">CHECK AVAILABILITY</a>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                    </form>
                  </div><!--avail-sec end-->
                </div><!--sidebar end-->
                </div>
                <div class="col-lg-8">
                  <div class="more_information_sec">
                    <h3>Your InformatIons</h3>
                    <table>
                      <tr>
                        <td>
                          <h4>First Name :</h4>
                          <span>{{  this.booking.firstName}}</span>
                        </td>
                        <td>
                          <h4>Last First :</h4>
                          <span>{{   this.booking.lastName  }}</span>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          <h4>Phone :</h4>
                          <span>{{  this.booking.mobile }}</span>
                        </td>
                        <td>
                          <h4>Email :</h4>
                          <span>{{  this.booking.email }}</span>
                        </td>

                      </tr>

                    </table>

                    <div class="rq-info cv_lst">
                      <h4>Room Information :</h4>
                      <ul>
                        <li>
                           <b>Room Name : </b> {{room.name}}
                        </li>
                        <li>
                          <b>No of rooms : </b> {{room.noOfRooms}}
                        </li>
                        <li>
                          <b>No of guest : </b> {{room.noOfPersons}}
                        </li>
                      </ul>
                    </div>
                    <div class="payment_options">
                      <h3>Payment Optıons</h3>
                      <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="credit-tab" data-toggle="tab" href="#credit-card" role="tab" aria-controls="credit-tab" aria-selected="true">CREDIT CARD</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="transfer_tab" data-toggle="tab" href="#transfer-tab" role="tab" aria-controls="transfer-tab" aria-selected="false">BANK TRANSFER</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="paypal_tab" data-toggle="tab" href="#paypal-tab" role="tab" aria-controls="paypal-tab" aria-selected="false">PAYPAL</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent3">
                      <div class="tab-pane fade show active" id="credit-card" role="tabpanel" aria-labelledby="credit-tab">
                        <div class="payment-tab">
                          <form [formGroup]="onPaymentForm">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Cardholder name</label>
                                    <input type="text" name="c-name"
                                    [formControl]="cardHolderName"
                                    placeholder="Name On Card"
                                    [(ngModel)]="payment.cardHolderName">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Card number</label>
                                    <input type="text" name="c-name"
                                    placeholder="Card Number"
                                    minlength="16"
                                    maxlength="16"
                                    pattern="[0-9]{16}"
                                    [formControl]="cardNumber"
                                    [(ngModel)]="payment.cardNumber">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Expiration date</label>
                                    <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">

                                          <mat-select
                                              placeholder="Expiration Month"
                                              [(ngModel)]="payment.expMonth"
                                              [formControl]="expMonth"
                                            >
                                              <mat-option *ngFor="let month of months" [value]="month.value">
                                                {{ month.viewValue }}
                                              </mat-option>
                                            </mat-select>

                                        </div><!--form-field end-->
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">

                                          <mat-select
                                          placeholder="Expiration Year"
                                          [(ngModel)]="payment.expYear"
                                          [formControl]="expYear"
                                          required
                                        >
                                          <mat-option *ngFor="let year of years" [value]="year.value">
                                            {{ year.viewValue }}
                                          </mat-option>
                                        </mat-select>

                                        </div><!--form-field end-->
                                      </div>
                                    </div>
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>CVV </label>
                                    <input
                                    type="text"
                                    minlength="3"
                                    maxlength="3"
                                    matInput
                                    placeholder="CVV"
                                    [formControl]="cvv"
                                    pattern="[0-9]{3}"
                                    [(ngModel)]="payment.cvv"
                                    required
                                  />
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                  <p><span>Please note</span> you will be able to review your ride on the next page before confirming your reservation. Your card will not be charged until after your ride.</p>
                                </div>
                                <div class="col-lg-12">
                                  <button type="submit" class="lnk-default">Submit Payment <i class="la la-arrow-right"></i></button>
                                </div>
                              </div>
                            </form>
                          </div><!--payment-tab end-->
                      </div>
                        <div class="tab-pane fade" id="transfer-tab" role="tabpanel" aria-labelledby="transfer_tab">
                          <div class="payment-tab">
                            <form>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Account Name</label>
                                    <input type="text" name="c-name" placeholder="Full Name">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Bank Name</label>
                                    <input type="text" name="c-name" placeholder="Bank Name">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Account Number</label>
                                    <input type="text" name="exp-date" placeholder="XXXX">

                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Check Number </label>
                                    <input type="text" name="c-name" placeholder="XXXX">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                  <p><span>Please Pay the amount to this bank account to confirm your Reservation. </span> Account Details</p>
                                  <p><span>Please note</span> you will be able to review your ride on the next page before confirming your reservation. Your card will not be charged until after your ride.</p>
                                </div>
                                <div class="col-lg-12">
                                  <button type="submit" (click)="submitPayment()" class="lnk-default">Submit Payment <i class="la la-arrow-right"></i></button>
                                </div>
                              </div>
                            </form>
                          </div><!--payment-tab end-->
                        </div>
                        <div class="tab-pane fade" id="paypal-tab" role="tabpanel" aria-labelledby="paypal_tab">
                          <div class="payment-tab">
                            <form>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Cardholder name</label>
                                    <input type="text" name="c-name" placeholder="Ali TUF...">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Card number</label>
                                    <input type="text" name="c-name" placeholder="0436">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Expiration date</label>
                                    <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">
                                          <input type="text" name="exp-date" placeholder="MM">
                                        </div><!--form-field end-->
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">
                                          <input type="text" name="exp-date" placeholder="YY">
                                        </div><!--form-field end-->
                                      </div>
                                    </div>
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>CVV </label>
                                    <input type="text" name="c-name" placeholder="0436">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                  <p><span>Please note</span> you will be able to review your ride on the next page before confirming your reservation. Your card will not be charged until after your ride.</p>
                                </div>
                                <div class="col-lg-12">
                                  <button type="submit"  [disabled]="!onPaymentForm.valid" class="lnk-default">Submit Payment <i class="la la-arrow-right"></i></button>
                                </div>
                              </div>
                            </form>
                          </div><!--payment-tab end-->
                        </div>
                    </div>
                    </div><!--payment_options end-->
                  </div><!--more_information_sec end-->
                </div>
              </div>


    </div><!--page-content end-->
  </div>
</section><!--main-content end-->
