<section class="main-content bkng">
  <div class="container">
    <div class="page-content">
      <div class="booking-tabs-list">
        <ul class="nav nav-tabs" id="myTab3" role="tablist">
          <li class="nav-item">
              <a class="nav-link"> <span class="nom"></span>CHOSE ROOM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" > <span class="nom"></span> BOOKING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" > <span class="nom"></span> CHECKOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ><span class="nom"></span> THANK YOU</a>
            </li>
        </ul>
      </div><!--booking-tabs-list end-->

              <div class="row">
                <div class="col-lg-4">
                  <div class="sidebar">
                  <div class="avail-sec">
                    <form>
                      <div class="checking-form">
                        <ul class="checkform">
                          <li>
                            <div class="check-form">
                              <h4>CHECK-IN</h4>
                              <div class="det">
                                <b class="val-date">{{ this.daySelected }}</b>
                                <span>
                                  <i class="month">{{monthArray[monthSelected] }}</i> <i class="year">{{  this.yearSelected2  }}</i>
                                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                </span>
                              </div>
                              <input type="text" name="dateIn" class="date-pick">
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                          </li>
                          <li>
                            <div class="check-form">
                              <h4>CHECK-OUt</h4>
                              <div class="det">
                                <b class="val-date">{{ this.daySelected2 }}</b>
                                <span>
                                  <i class="month">{{monthArray[monthSelected2] }}</i> <i class="year">{{  this.yearSelected2  }}</i>
                                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                </span>
                              </div>
                              <input type="text" name="dateOut" class="date-pick">
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                          </li>
                          <li class="item-cont">
                            <div class="check-form">
                              <h4 class="text-center">Guest</h4>
                              <div class="det">
                                <div class="handle-counter" id="handleCounter">
                                                  <ul>
                                                      <li class="input-fieldd"><input type="text" value="1" data-num="1"></li>
                                                      <li class="counter-control">
                                                        <button class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                                        <button class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                                      </li>
                                                  </ul>
                                                  <div class="clearfix"></div>
                                              </div>
                              </div>
                              <div class="clearfix"></div>
                            </div><!--check-form end-->
                            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                          </li>
                          <!-- <li class="check-avail">
                            <a (click)="getRoomByDate()" title="" class="check-status">CHECK AVAILABILITY</a>
                          </li> -->
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                    </form>
                  </div><!--avail-sec end-->
                </div><!--sidebar end-->
                </div>
                <div class="col-lg-8">
                  <div class="more_information_sec">
                    <h3>Your InformatIons</h3>
                    <table>
                      <tr>
                        <td>
                          <h4>Name :</h4>
                          <span>Ali</span>
                        </td>
                        <td>
                          <h4>Surname :</h4>
                          <span>TUFAN</span>
                        </td>
                        <td>
                          <h4>Email :</h4>
                          <span>info@gmail.com</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4>Phone :</h4>
                          <span>+90 589 658 96 32</span>
                        </td>
                        <td>
                          <h4>Address :</h4>
                          <span>Lorem Ipsum Dolar </span>
                        </td>
                        <td>
                          <h4>City :</h4>
                          <span>London</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4>Country :</h4>
                          <span>England</span>
                        </td>
                        <td>
                          <h4>ZIP :</h4>
                          <span>85996</span>
                        </td>
                        <td>
                          <h4>Arrival :</h4>
                          <span>2:00 - 3:00 pm</span>
                        </td>
                      </tr>
                    </table>
                    <div class="rq-info">
                      <h4>Requests :</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </p>
                    </div>
                    <div class="rq-info cv-lst">
                      <h4>Extra Services :</h4>
                      <ul>
                        <li>
                          Car Rental
                        </li>
                        <li>
                          Wifi
                        </li>
                      </ul>
                    </div>
                    <div class="rq-info">
                      <h4>Coupon :</h4>
                      <p>Not set</p>
                    </div>
                    <div class="rq-info cv_lst">
                      <h4>Tax :</h4>
                      <ul>
                        <li>
                          Included 21 $ City Tax
                        </li>
                        <li>
                          Included 22 % VAT
                        </li>
                      </ul>
                    </div>
                    <div class="payment_options">
                      <h3>Payment Optıons</h3>
                      <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="credit-tab" data-toggle="tab" href="#credit-card" role="tab" aria-controls="credit-tab" aria-selected="true">CREDIT CARD</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="transfer_tab" data-toggle="tab" href="#transfer-tab" role="tab" aria-controls="transfer-tab" aria-selected="false">BANK TRANSFER</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="paypal_tab" data-toggle="tab" href="#paypal-tab" role="tab" aria-controls="paypal-tab" aria-selected="false">PAYPAL</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent3">
                      <div class="tab-pane fade show active" id="credit-card" role="tabpanel" aria-labelledby="credit-tab">
                        <div class="payment-tab">
                            <form>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Cardholder name</label>
                                    <input type="text" name="c-name" placeholder="Ali TUF...">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Card number</label>
                                    <input type="text" name="c-name" placeholder="0436">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Expiration date</label>
                                    <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">
                                          <input type="text" name="exp-date" placeholder="MM">
                                        </div><!--form-field end-->
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">
                                          <input type="text" name="exp-date" placeholder="YY">
                                        </div><!--form-field end-->
                                      </div>
                                    </div>
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>CVV </label>
                                    <input type="text" name="c-name" placeholder="0436">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                  <p><span>Please note</span> you will be able to review your ride on the next page before confirming your reservation. Your card will not be charged until after your ride.</p>
                                </div>
                                <div class="col-lg-12">
                                  <button type="submit" class="lnk-default">Submit Payment <i class="la la-arrow-right"></i></button>
                                </div>
                              </div>
                            </form>
                          </div><!--payment-tab end-->
                      </div>
                        <div class="tab-pane fade" id="transfer-tab" role="tabpanel" aria-labelledby="transfer_tab">
                          <div class="payment-tab">
                            <form>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Account Name</label>
                                    <input type="text" name="c-name" placeholder="Full Name">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Bank Name</label>
                                    <input type="text" name="c-name" placeholder="Bank Name">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Account Number</label>
                                    <input type="text" name="exp-date" placeholder="XXXX">

                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Check Number </label>
                                    <input type="text" name="c-name" placeholder="XXXX">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                  <p><span>Please Pay the amount to this bank account to confirm your Reservation. </span> Account Details</p>
                                  <p><span>Please note</span> you will be able to review your ride on the next page before confirming your reservation. Your card will not be charged until after your ride.</p>
                                </div>
                                <div class="col-lg-12">
                                  <button type="submit" class="lnk-default">Submit Payment <i class="la la-arrow-right"></i></button>
                                </div>
                              </div>
                            </form>
                          </div><!--payment-tab end-->
                        </div>
                        <div class="tab-pane fade" id="paypal-tab" role="tabpanel" aria-labelledby="paypal_tab">
                          <div class="payment-tab">
                            <form>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Cardholder name</label>
                                    <input type="text" name="c-name" placeholder="Ali TUF...">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Card number</label>
                                    <input type="text" name="c-name" placeholder="0436">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>Expiration date</label>
                                    <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">
                                          <input type="text" name="exp-date" placeholder="MM">
                                        </div><!--form-field end-->
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-field">
                                          <input type="text" name="exp-date" placeholder="YY">
                                        </div><!--form-field end-->
                                      </div>
                                    </div>
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-field">
                                    <label>CVV </label>
                                    <input type="text" name="c-name" placeholder="0436">
                                  </div><!--form-field end-->
                                </div>
                                <div class="col-lg-12">
                                  <p><span>Please note</span> you will be able to review your ride on the next page before confirming your reservation. Your card will not be charged until after your ride.</p>
                                </div>
                                <div class="col-lg-12">
                                  <button type="submit" class="lnk-default">Submit Payment <i class="la la-arrow-right"></i></button>
                                </div>
                              </div>
                            </form>
                          </div><!--payment-tab end-->
                        </div>
                    </div>
                    </div><!--payment_options end-->
                  </div><!--more_information_sec end-->
                </div>
              </div>


    </div><!--page-content end-->
  </div>
</section><!--main-content end-->
