<!-- Begin Header -->
<header>
  <!-- Begin Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll-link" href="#home" data-id="home">
            <!-- <span class="icon-handle-streamline-vector logo">aa</span> -->
            <span><img
              alt="logo"
              src="assets/images/CredenceSoftLogo.png"
              height="70"
              width="70"
            /></span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home" data-id="home" class="scroll-link"><b>Home</b></a></li>
            <li>
              <a href="#aboutus" data-id="aboutus" class="scroll-link"><b>About</b></a>
            </li>
            <li>
              <a href="#products" data-id="products" class="scroll-link"
                ><b>Products</b></a
              >
            </li>
            <li>
                <a href="#services" data-id="services" class="scroll-link"><b>Services</b></a>
              </li>
            <li>
              <a href="#work" data-id="work" class="scroll-link"><b>Technology</b></a>
            </li>
            <li>
              <a href="#contact" data-id="contact" class="scroll-link"
                ><b>Contact</b></a
              >
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Header -->
