<section class="main-slider hp_5">
  <div class="container-fluid">
        <div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
            <div id="rev_slider_476_2" class="rev_slider" style="display:none;" data-version="5.3.0.2">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="assets/images/slides/slide1.jpg" alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="tp-caption lyr1 tp-resizeme"
              id="slide-1-layer-1"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >Luxury Hotel & Best Resort
            </div>

            <div class="tp-caption lyr2 tp-resizeme"
              id="slide-1-layer-2"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="73"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="200"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >WELCOME TO Mangal Niketan
            </div>
                        <!-- LAYER NR. 3 -->
            <a href="#" title="" class="tp-caption lyr3 tp-resizeme"
              id="slide-1-layer-3"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="164"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[29,29,29,29]"
                            data-paddingright="[37,37,37,37]"
                            data-paddingbottom="[27,27,27,27]"
                            data-paddingleft="[37,37,37,37]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >ROOMS E SUITES
            </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-1649" class="scnd_slide" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="02" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="assets/images/slides/slide2.jpg" alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="tp-caption lyr1 tp-resizeme"
              id="slide-1-layer-4"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >Luxury Hotel & Best Resort
            </div>

            <div class="tp-caption lyr2 tp-resizeme"
              id="slide-1-layer-5"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="73"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="200"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
             >WELCOME TO Mangal Niketan
            </div>
                        <!-- LAYER NR. 3 -->
            <a href="#" title="" class="tp-caption lyr3 tp-resizeme"
              id="slide-1-layer-6"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="164"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[29,29,29,29]"
                            data-paddingright="[37,37,37,37]"
                            data-paddingbottom="[27,27,27,27]"
                            data-paddingleft="[37,37,37,37]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
             >ROOMS E SUITES
            </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-1650" class="scnd_slide thrd" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="03" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

            <img src="assets/images/slides/slide3.jpg" alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="tp-caption lyr1 tp-resizeme"
              id="slide-1-layer-7"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="0"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="500"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >Luxury Hotel & Best Resort
            </div>

            <div class="tp-caption lyr2 tp-resizeme"
              id="slide-1-layer-8"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="73"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[15,15,15,15]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[40,40,40,40]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="200"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >WELCOME TO Mangal Niketan
            </div>
                        <!-- LAYER NR. 3 -->
            <a href="#" title="" class="tp-caption lyr3 tp-resizeme"
              id="slide-1-layer-9"
              data-x="center" data-hoffset="0"
              data-y="center" data-voffset="164"
              data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']"
              data-paddingtop="[29,29,29,29]"
                            data-paddingright="[37,37,37,37]"
                            data-paddingbottom="[27,27,27,27]"
                            data-paddingleft="[37,37,37,37]"
              data-transform_idle="o:1;"
              data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
              data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
              data-start="2100"
              data-splitin="none"
              data-splitout="none"
              data-responsive_offset="on"
              data-elementdelay="0.05"
              >ROOMS E SUITES
            </a>
                    </li>
                </ul>
            </div>
        </div><!--Revolution Slider end-->




        <div class="checking-form sldr">
          <div class="container">
        <ul class="checkform">
          <li>
            <div class="check-form">
              <h4>CHECK-IN</h4>
              <div class="det">
                <b class="val-date">28</b>
                <span>
                  <i class="month">Jun</i> <i class="year">2019</i>
                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                </span>
              </div>
              <input type="text" name="date-in" class="date-pick">
              <div class="clearfix"></div>
            </div><!--check-form end-->
          </li>
          <li>
            <div class="check-form">
              <h4>CHECK-OUt</h4>
              <div class="det">
                <b class="val-date">29</b>
                <span>
                  <i class="month">Jun</i> <i class="year">2019</i>
                  <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                </span>
              </div>
              <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
              <input type="text" name="date-out" class="date-pick">
              <div class="clearfix"></div>
            </div><!--check-form end-->
          </li>
          <li class="item-cont">
            <div class="check-form">
              <h4 class="text-center">Guest</h4>
              <div class="det">
                <div class="handle-counter" id="handleCounter">
                                  <ul>
                                      <li class="input-fieldd"><input type="text" value="1" data-num="1"></li>
                                      <li class="counter-control">
                                        <button class="counter-minus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                        <button class="counter-plus btn"><i class="fa fa-angle-down"></i></button>
                                      </li>
                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
              </div>
              <div class="clearfix"></div>
            </div><!--check-form end-->
            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
          </li>
          <li class="bkk">
            <div class="bk_now">
              <a href="#" title=""><img src="assets/images/icon6.png" alt=""></a>
              <a href="#" title="" class="bk-now">Book Now</a>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    </div>
</section><!--MAIN-SLIDER END-->





<section class="c-block about_secc">
  <div class="container">
    <div class="about-us-sec">
      <div class="row">
        <div class="col-lg-5">
          <div class="about_we pt-0">
            <h2>HOTEL BAYVIEW</h2>
            <h3>WHO WE ARE </h3>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been the industry's standard dummy when an unknown printer took a galley of type and specimen book. </p>
            <p>It has survived not only five centuries, but also the leap remaining essentially unchanged. It was popularised in of Letraset sheets containing Lorem Ipsum passages, desktop publishing software like Aldus PageMaker Lorem Ipsum.</p>
            <a href="#" title="" class="lnk-default">About Us <i class="la la-arrow-right"></i></a>
          </div><!--about_we end-->
        </div>
        <div class="col-lg-7 p-0">
          <ul class="abt_img">
            <li class="light-overlay">
              <img src="assets/images/rooms/11.jpg" alt="">
              <a href="#" title="" class="play-vid"><img src="assets/images/icon-play2.png" alt=""></a>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"> </iframe>
            </li>
            <li>
              <img src="assets/images/rooms/11.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section><!--ABOUT-US END-->

<section class="c-block room_sec dark-bg">
  <div class="container">
    <div class="sec-title">
      <h3>OUR ROOMS</h3>
    </div><!--sec-title end-->
    <div class="rooms_section">
      <div class="row blog_carousel">
        <div class="col-lg-4 col-md-6">
          <div class="room_details">
            <div class="room_show">
              <div class="room_imgs_carousel">
                <div class="room_img">
                  <img src="assets/images/rooms/12.jpg" alt="">
                </div><!--room_img end-->
                <div class="room_img">
                  <img src="assets/images/rooms/12.jpg" alt="">
                </div><!--room_img end-->
                <div class="room_img">
                  <img src="assets/images/rooms/12.jpg" alt="">
                </div><!--room_img end-->
              </div><!--room_imgs_carousel end-->
              <span class="price-tag">2000.00 / <b>night</b></span>
            </div><!--room_show end-->
            <div class="room_info">
              <h3><a href="#" title="">Deluxe Room</a></h3>
              <ul class="ppt-list">
                <li>
                  <img src="assets/images/icy1.png" alt="">
                  1 GUESTS
                </li>
                <li>
                  <img src="assets/images/icy2.png" alt="">
                  15 Ft²
                </li>
              </ul><!--ppt-list end-->
              <p>Well furnished and modern amennities are here. </p>
              <a href="#" title="" class="lnk-default">Book Now <i class="la la-arrow-right"></i></a>
            </div><!--room_info end-->
          </div><!--room_details end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="room_details">
            <div class="room_show">
              <div class="room_imgs_carousel">
                <div class="room_img">
                  <img src="assets/images/rooms/21.jpg" alt="">
                </div><!--room_img end-->
                <div class="room_img">
                  <img src="assets/images/rooms/21.jpg" alt="">
                </div><!--room_img end-->
                <div class="room_img">
                  <img src="assets/images/rooms/21.jpg" alt="">
                </div><!--room_img end-->
              </div><!--room_imgs_carousel end-->
              <span class="price-tag">1500.00 / <b>night</b></span>
            </div><!--room_show end-->
            <div class="room_info">
              <h3><a href="#" title="">Deluxe Standard Room</a></h3>
              <ul class="ppt-list">
                <li>
                  <img src="assets/images/icy1.png" alt="">
                  1 GUESTS
                </li>
                <li>
                  <img src="assets/images/icy2.png" alt="">
                  15 Ft²
                </li>
              </ul><!--ppt-list end-->
              <p>Well furnished and modern amennities with large space</p>
              <a href="#" title="" class="lnk-default">Book Now <i class="la la-arrow-right"></i></a>
            </div><!--room_info end-->
          </div><!--room_details end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="room_details">
            <div class="room_show">
              <div class="room_imgs_carousel">
                <div class="room_img">
                  <img src="assets/images/rooms/9.jpg" alt="">
                </div><!--room_img end-->
                <div class="room_img">
                  <img src="assets/images/rooms/9.jpg" alt="">
                </div><!--room_img end-->
                <div class="room_img">
                  <img src="assets/images/rooms/9.jpg" alt="">
                </div><!--room_img end-->
              </div><!--room_imgs_carousel end-->
              <span class="price-tag">60000.00 / <b>night</b></span>
            </div><!--room_show end-->
            <div class="room_info">
              <h3><a href="#" title="">Mandap/Conference Hall</a></h3>
              <ul class="ppt-list">
                <li>
                  <img src="assets/images/icy1.png" alt="">
                  1 GUESTS
                </li>
                <li>
                  <img src="assets/images/icy2.png" alt="">
                  15 Ft²
                </li>
              </ul><!--ppt-list end-->
              <p>This space can use for both as a Mandap or a Conference Hall </p>
              <a href="#" title="" class="lnk-default">Book Now <i class="la la-arrow-right"></i></a>
            </div><!--room_info end-->
          </div><!--room_details end-->
        </div>

      </div>
    </div><!--rooms_section end-->
  </div>
</section><!--room_sec end-->

<section class="c-block resto-sec svr-hp5">
  <div class="container">
    <div class="sec-title">
      <h3>Servıces</h3>
    </div><!--sec-title ned-->
    <div class="services_sec srvc-carousel">
      <div class="service-slide">
        <div class="srv-img">
          <img src="assets/images/8.jpg" alt="">
        </div><!--srv-img end-->
        <div class="srvc-info">
          <img src="assets/images/ic1.png" alt="">
          <h3><a href="#" title="">Restaurant</a></h3>
          <p>Phasellus enim libero, blandit vel sapien ultricies magna et. Quisque euismod orci Phasellus enim libero, blandit. </p>
          <a href="#" title="" class="lnk-default">Read More <i class="la la-arrow-right"></i></a>
        </div><!--srvc-info end-->
      </div><!--service-slide end-->
      <div class="service-slide">
        <div class="srv-img">
          <img src="assets/images/2.jpg" alt="">
        </div><!--srv-img end-->
        <div class="srvc-info">
          <img src="assets/images/ic1.png" alt="">
          <h3><a href="#" title="">Restaurant</a></h3>
          <p>Phasellus enim libero, blandit vel sapien ultricies magna et. Quisque euismod orci Phasellus enim libero, blandit. </p>
          <a href="#" title="" class="lnk-default">Read More <i class="la la-arrow-right"></i></a>
        </div><!--srvc-info end-->
      </div><!--service-slide end-->
      <div class="service-slide">
        <div class="srv-img">
          <img src="https://via.placeholder.com/568x450" alt="">
        </div><!--srv-img end-->
        <div class="srvc-info">
          <img src="assets/images/ic1.png" alt="">
          <h3><a href="#" title="">Restaurant</a></h3>
          <p>Phasellus enim libero, blandit vel sapien ultricies magna et. Quisque euismod orci Phasellus enim libero, blandit. </p>
          <a href="#" title="" class="lnk-default">Read More <i class="la la-arrow-right"></i></a>
        </div><!--srvc-info end-->
      </div><!--service-slide end-->
    </div><!--services_sec end-->
  </div>
</section><!--SERVICES SEC END-->

<app-blog></app-blog>
<app-getintouch></app-getintouch>
