<!-- Begin Contact -->
<section class="background1 section-padding">
  <div class="container">
    <div class="row mb30">
      <div
        class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center"
      >
        <h2>Contact</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin scaleReveal">
          Our team is from all over the world and we know how to deliver quality
          products from miles away.
        </p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-5 col-lg-4">
        <h5 class="heading-1 mb20">Visit Us</h5>
        <h4 class="mb15">
          43 Carder Court, Hobsonville, <br />Auckland, Auckland Region 0618,
          <br />New Zealand
        </h4>
        <hr class="mini-hr" />
        <hr class="mini-hr" />
        <hr class="mini-hr" />
        <hr class="mini-hr" />
        <hr class="mini-hr" />
        <p class="text-xs-small mb5">
          <strong class="text-switch">Email:</strong>
          samaya.muduli@credencesoft.co.nz
        </p>
        <p class="text-xs-small mb5">
          <strong class="text-switch">Phone:</strong> +64 21-548-329
        </p>
        <p class="text-xs-small mb5">
          <strong class="text-switch">Time:</strong> Mon - Fri, 9am - 5pm
        </p>
      </div>
      <!-- /.column -->
      <div class="col-sm-6 col-lg-7 mt30-xs">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section -->
<!-- End Contact -->
