<header class="pb hp_5 static">
  <div class="container-fluid">
    <div class="ttop_header">
      <ul class="social-links">
        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-pinterest-square"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#" title=""><i class="fa fa-google"></i></a></li>
      </ul><!--social-links end-->
      <div class="cont-lit">
        <h4>+1 888 123 4567</h4>
      </div>
      <ul class="cont-list">
        <li><img src="assets/images/icon9.png" alt="">A few clouds, 22 °C / 71 °F</li>
      </ul>
      <div class="clearfix"></div>
    </div><!--top_header end-->
    <div class="bbtm-header">
      <nav>
        <ul>
          <li><a href="#" title="">Home</a>

          </li>
          <li><a href="room" title="">Rooms</a>
            <ul>
              <li><a href="11_room_list_v1.html" title="">Room 1</a></li>
              <li><a href="12_room_list_v2.html" title="">Room 2</a></li>
              <li><a href="19_booking_list.html" title="">Booking List</a></li>
            </ul>
          </li>
          <li><a href="27_about.html" title="">About Us</a></li>
          <li><a href="#" title="">More</a>

                <ul>
                  <li><a href="34_terms_and_conditions.html" title="">Terms & Conditions</a></li>
              <li><a href="35_services.html" title="">Services</a></li>
              <li><a href="38_testimonials.html" title="">Testimonials</a></li>
                  <li><a href="31_restaurant.html" title="">Restaurant</a></li>
                </ul>
              </li>
          <li><a href="#" title="">News</a>

          </li>
          <li><a href="#" title="">Contact</a>
          </li>
        </ul>
      </nav><!--Navigations end-->
      <div class="menu-bar">
        <a href="#" title="">
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar3"></span>
        </a>
      </div>
      <div class="ft-logo">
        <a href="#" title="">
          <img src="assets/images/ft-logo5.png" alt="">
          <div class="ft-text">
            <h2>Mangal Niketan</h2>
          <h3>An Unit Of Sanatan Residency</h3>
          </div>
        </a>
      </div><!--ft-logo end-->
      <ul class="src-book">
        <li class="searc_h">
          <a href="#" title="" class="search-btn"><img src="assets/images/icon11.png" alt=""></a>
        </li>
        <li class="lang_slct">
          <div class="lang-slct">
            <div class="custom-select hvrr">
              <select>
                  <option value="0">En</option>
                  <option value="1">TR</option>
                  <option value="2">EN</option>
              </select>
            </div>
          </div><!--lang-select end-->
        </li>
      </ul><!--src-book end-->
      <div class="clearfix"></div>
    </div><!--bbtm-header end-->
  </div>
</header><!--HEADER END-->

<div class="responsive_mobile_menu">
  <div class="resp_head">
    <div class="ft-logo">
      <a href="#" title="">
        <img src="assets/images/ft-logo.png" alt="">
        <div class="ft-text">
          <h2>Mangal Niketan</h2>
          <h3>An Unit Of Sanatan Residency</h3>
        </div>
      </a>
    </div><!--ft-logo end-->
    <div class="menu-bar">
      <a href="#" title="">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
      </a>
    </div><!--menu-bar end-->
    <div class="clearfix"></div>
  </div>
  <div class="ct_head">
    <h3>+1 888 123 4567</h3>
    <div class="lang-slct">
      <div class="custom-select">
        <select>
            <option value="0">En</option>
            <option value="1">TR</option>
            <option value="2">EN</option>
        </select>
      </div>
    </div><!--lang-select end-->
  </div><!--ct_head end-->
  <div class="navigations">
    <ul>
      <li><a class="active" href="#" title="">Home</a>
      </li>
      <li><a href="#" title="">Rooms</a>
        <ul>
          <li><a href="11_room_list_v1.html" title="">Room Version 1</a></li>
          <li><a href="12_room_list_v2.html" title="">Room Version 2</a></li>
        </ul>
      </li>
      <li><a href="27_about.html" title="">About Us</a></li>
      <li><a href="#" title="">More</a>
        <ul>
          <li><a href="34_terms_and_conditions.html" title="">Terms & Conditions</a></li>
          <li><a href="35_services.html" title="">Services</a></li>
          <li><a href="36_coming_soon.html" title="">Coming Soon</a></li>
          <li><a href="38_testimonials.html" title="">Testimonials</a></li>
        </ul>
      </li>
      <li><a href="#" title="">News</a>
      </li>
      <li><a href="#" title="">Contact</a>

      </li>
    </ul>
  </div><!--navigations end-->
  <ul class="mbl_contact_info">
    <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
    <li><a href="#" title="">Map</a></li>
    <li>info@lordcros.com</li>
  </ul><!--mbl_contact_info end-->
</div><!--responsive_mobile_menu end-->
